<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>게시글 수정 화면</h1>
    <div>
        <div>
            <form role="form" action="/post/update/${post.title}" method="post" th:object="${post}">
                <div class="form-group">
                    <label th:for="title">Title</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="*{title}" />
                </div>
                <div class="form-group">
                    <label th:for="author">Author</label>
                    <text class="form-control" th:text="${post.author}"></text>
                </div>
                <div>
                    <label th:for="content">Content</label>
                    <textarea th:field="*{content}" placeholder="*{content}"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
</html>