<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div th:if = "${user != null}">
            <h1>Logged in as : <span th:text="${user.name}"></span></h1>
        </div>
        <div th:if="${user == null}">
            <h1>Not logged in</h1>
        </div>
        <a href="/login" class="btn btn-info active" role="button">Login</a>
        <a href="/logout" class="btn btn-info active" role="button">Logout</a>

        <h1 th:text="#{home.welcome}">게시판 현황</h1>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Content</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${posts}" th:object="${user}">
                        <td th:text="${post.id}"></td>
                        <td th:text="${post.title}"></td>
                        <td th:text="${post.author}"></td>
                        <td th:text="${post.content}"></td>
                        <div th:if="${user != null}">
                            <td th:if="${post.author} == ${user.name}">
                                <a th:href="@{/post/update/{id} (id=${post.id})}"
                                    class="btn btn-primary" >수정</a>
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" href="/post">게시물 등록</a>
        <a>게시물 전체 삭제</a>
    </div>

    <th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>